body.login {
  background: linear-gradient(to bottom, #7A2177 0%, #DB20D5 100%);
}

body.login div#login h1 {
  width: 100%;
}

body.login div#login h1 a {
  background: url(../images/login/optimised.svg) no-repeat center center/auto 100% transparent;
  height: 125px;
  margin: 0 auto 50px;
  outline: none;
  width: 100%;
}

body.login div#login #loginform #user_pass,
body.login div#login #loginform #user_login {
  color: #61B94C;
}

body.login div#login #nav a,
body.login div#login #backtoblog a {
  color: #fff;
}

body.login div#login #nav a:hover,
body.login div#login #backtoblog a:hover {
  color: #000000;
}
